openapi: 3.0.4
info:
  title: Documentacion API V2
  description: |-
    Contífico usa una clave de acceso para sus servicios (API Key), para obtenerla debes tener una cuenta en contífico y solicitarla por soporte al cliente. 
    Esta clave deberá ser agregada y enviada como parámetro en el header **AUTHORIZATION** en cada servicio que se consuma. Un ejemplo:
    >
    > Authorization: SECRETKEY
    >
    **SECRETKEY** debe ser reemplazado con el **API_KEY** proporcionado por contifico.

  version: v2
servers:
  - url: https://api.contifico.com/sistema
tags:
  - name: Asiento
  - name: Persona
  - name: Categoria
  - name: Bodega
  - name: Producto
  - name: Documento
  - name: Cobros
  - name: Cuentas Bancarias
  - name: Formas de Pago
  - name: Parametros
  - name: Movimientos de Inventario
  - name: Unidad

paths:
  /api/v2/contabilidad/asiento/:
    get:
      tags:
        - Asiento
      description: |-
        Devuelve un listado de asientos con su respectivo detalle.

        > GET https://api.contifico.com/sistema/api/v2/contabilidad/asiento/
        

        |    Parámetro    |   Tipo   | Longitud |                          Descripción                          |
        |-----------------|----------|----------|---------------------------------------------------------------|
        |     detalles    |  objeto  | 	  -     | Cuentas involucradas                                          |
        |    cuenta_id    |  varchar |	  16  	| Identificador de la cuenta que se va a utilizar en el asiento |
        | centro_costo_id |  varchar |	  16 	  | Identificador del centro de costo                             |
        |      tipo 	    |   char   |    1 	  | Tipo de detalle D:Debe H:Haber                                |
        |      valor    	|  decimal | 	  12 	  | Valor del detalle, (10 int, 2 decimal)max.                    |
        |      glosa      |	longtext | 	    	  | Glosa del asiento                                             |
        |      fecha      |	  char   |    10    |	Fecha de la transacción formato "dd/mm/yyyy"                  |
        |       id 	      |   char	 |    16 	  | Identificador del asiento consultado                          |

      operationId: Consulta
      parameters:
        - name: page
          in: query
          description: Número de página
          required: false
          schema:
            type: string
        - in: query 
          name: fecha_inicial
          description: Fecha inicial con el formato DD/MM/AAAA (donde DD es el día, MM es el mes y AAAA es el año).
          schema:
            type: date
        - in: query 
          name: fecha_final
          description: Fecha final con el formato DD/MM/AAAA (donde DD es el día, MM es el mes y AAAA es el año).
          schema:
            type: date
        - in: query 
          name: centro_costo
          description: Filtro de centro de costo (id_integracion).
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Asiento"

  /api/v2/contabilidad/asiento/{id}:
    get:
      tags:
        - Asiento
      description: |-
        Devuelve un asiento con su respectivo detalle y por el id solicitado.

        > GET https://api.contifico.com/sistema/api/v2/contabilidad/asiento/{id_integracion}
        

        |    Parámetro    |   Tipo   | Longitud |                          Descripción                          |
        |-----------------|----------|----------|---------------------------------------------------------------|
        |     detalles    |  objeto  | 	  -     | Cuentas involucradas                                          |
        |    cuenta_id    |  varchar |	  16  	| Identificador de la cuenta que se va a utilizar en el asiento |
        | centro_costo_id |  varchar |	  16 	  | Identificador del centro de costo                             |
        |      tipo 	    |   char   |    1 	  | Tipo de detalle D:Debe H:Haber                                |
        |      valor    	|  decimal | 	  12 	  | Valor del detalle, (10 int, 2 decimal)max.                    |
        |      glosa      |	longtext | 	    	  | Glosa del asiento                                             |
        |      fecha      |	  char   |    10    |	Fecha de la transacción formato "dd/mm/yyyy"                  |
        |       id 	      |   char	 |    16 	  | Identificador del asiento consultado                          |

      operationId: Obtener un asiento
      parameters:
        - name: id_integracion
          in: path
          description: id_integracion del asiento
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Asiento"

  /api/v2/persona/:
    get:
      tags:
        - Persona
      description: |-
        > GET https://api.contifico.com/sistema/api/v2/persona/

        Devuelve un listado con todas las personas creadas en el sistema


        |       Parámetro       |  Tipo   | Longitud |	                      Descripción                          |
        |-----------------------|---------|----------|-------------------------------------------------------------|
        |         id 	          | varchar |	    16   | Identificador de la cuenta en el sistema.                   |
        |  adicionales_cliente  | varchar |	   300 	 | Informacion adicional del cliente.                          |
        |  personaasociada_id   | varchar |	    16 	 | Identificador de la persona asociada a la persona actual.   |
        |       direccion       | varchar |    300   | Direccion de la persona.                                    |
        |       es_vendedor     | boolean |   	 1   | Rol vendedor de la persona.                                 |
        |          tipo 	      | varchar |      1 	 | Tipo de persona (N:Natural J:Juridica I:SinId P:Placa).     |
        |     razon_social  	  | varchar |	   300   | Razon social de la persona.                                 |
        |    nombre_comercial   | varchar |	   300   | Nombre comercial de la persona.                             |
        |    es_corporativo     | boolean |	    1 	 | Rol corporativo de la persona.                              |
        | porcentaje_descuento  | decimal |	    2 	 | Descuento de tipo cliente (2 decimales Max).                |
        |         origen        | varchar |	    3  	 | Tipo de POS desde el cual se registro.                      |
        |          ruc          | varchar |	    13   | Ruc de la persona.                                          |
        |    banco_codigo_id    | varchar |	   16 	 | Codigo de banco asociado a la persona.                      |
        |         email         | varchar |    50  	 | Correo de la persona.                                       |
        |       es_cliente   	  | boolean |	    1    | Rol vendedor de la persona.                                 |
        | adicionales_proveedor |	varchar |	   300 	 | Informacion adicional del proveedor.                        |
        |     numero_tarjeta    |	varchar |	   200 	 | Numero de tarjeta de la persona.                            |
        |      es_extranjero    |	boolean |	    1 	 | Verificador de personas extranjeras.                        |
        |       es_empleado     | boolean |	    1 	 | Rol empleado de la persona.                                 |
        |       es_proveedor 	  | boolean |	    1 	 | Rol proveedor de la persona.                                |
        |       aplicar_cupo    |	boolean |	    1 	 | Verificador si la persona tiene un cupo maximo como cliente.|
        |       telefonos      	| varchar |	   50 	 | Telefono de la persona.                                     |
        |      tipo_cuenta 	    | varchar |	    2 	 | tipo de la cuenta contable asociada.                        |
        |          placa      	| varchar |	   13 	 | Placa de la persona si es de tipo placa.                    |
        |         cedula 	      | varchar |	   10 	 | Cedula de la persona.                                       |
        |       id_categoria 	  | varchar |	   16 	 | Identificador de la categoria persona en el sistema.        |
        |    categoria_nombre   |	varchar |	   40 	 | Nombre de la categoria asociada a la persona.               |
        |   fecha_modificacion  |	  date  |	    -    | Fecha de modificación asociada a la persona.                |
        |         sueldo        |	decimal |	   10 	 | Sueldo asociado a la persona. (8 int, 2 decimal)max         |
        |      dias_credito     |	varchar |	   40 	 | Días de crédito asociado a la persona.                      |
        |      cupo_credito     |	varchar |	   40 	 | Cupo de crédito asociado a la persona.                      |
        |    vendedor_asignado  |	  obj   |	    -    | Vendedor asignado a la persona.                             |

      operationId: Consulta
      parameters:
        - in: query
          name: search
          description: Busca personas en los campos 'razon_social', 'nombre_comercial', 'cedula' y 'ruc' que coincidan con el valor enviado.
          schema:
            type: string
        - in: query 
          name: modificados_desde_fecha
          description: Busca personas con una fecha de modificación igual y mayor de la fecha enviada.
            Utilice el formato "AAAA-MM-DD"
          schema:
            type: date
        - in: query 
          name: estado
          description: Busca personas según el estado:A=activo, I=inactivo.
          schema:
            type: string
        - in: query 
          name: fecha_inicial
          description: Filtro de fecha inicial. Debe utilizar el formato AAAA-MM-DD.
          schema:
            type: date
        - in: query 
          name: fecha_final
          description: Filtro de fecha final. Debe utilizar el formato AAAA-MM-DD.
          schema:
            type: date
        - in: query 
          name: es_proveedor
          description: Filtro es_proveedor. Debe utilizar 1=true, 0=false.
          schema:
            type: boolean
        - in: query 
          name: es_cliente
          description: Filtro es_ cliente. Debe utilizar 1=true, 0=false.
          schema:
            type: boolean
        - in: query 
          name: tipo
          description: Consultar personas por tipo (N=Natural, J=Juridico, I=Sin RUC o cédula, P=Placa)
          schema:
            type: string
        - in: query 
          name: page
          description: Consulta personas con el page indicado.
          schema:
            type: string
        - in: query 
          name: categoria_id
          description: Identificador de la categoría persona.
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Persona"
        '500':
          description: Error en el servidor
    post:
      tags: 
        - Persona
      description: |-
        Para crear una persona se debe de hacer uso de la url:

        > POST https://api.contifico.com/sistema/api/v2/persona/?pos={api_token}


        |      Parámetro      |	  Tipo  |	Longitud |	                           Descripción                                |	Obligatorio |
        |---------------------|---------|----------|------------------------------------------------------------------------|-------------|
        | adicionales_cliente |	varchar |	   300   |	Informacion adicional del cliente (acepta null)                       |	     No     |
        | personaasociada_id  |	varchar |	    16   |	Identificador de la persona asociada a la persona actual (acepta null)|	     No     |
        |      direccion      |	varchar |	   300   |	Direccion de la persona                                               |	     No     |
        |      es_vendedor    | boolean |	    1    |	Rol vendedor de la persona                                            |	     No     |
        |         tipo        |	varchar |	    1    |	Tipo de persona (N:Natural J:Juridica I:SinId P:Placa)                |	     Si     |
        |     razon_social    |	varchar |	   300   |	Razon social de la persona                                            |	     Si     |
        |   nombre_comercial  |	varchar |	   300   |	Nombre comercial de la persona                                        |	  Opcional  |
        |   es_corporativo    |	boolean |	    1    |	Rol corporativo de la persona                                         |	     No     |
        | porcentaje_descuento| decimal |	    2    | 	Descuento de tipo cliente                                             |	     No     |
        |        origen       |	varchar |	    3    |	Tipo de POS desde el cual se registro (acepta null)                   |	     No     |
        |          ruc        |	varchar |	   13    |	Ruc de la persona                                                     |	  Opcional  |
        |   banco_codigo_id   |	varchar |	   16    |	Codigo de banco asociado a la persona (acepta null)                   |	     No     |
        |         email       |	varchar |	   50    |  Correo de la persona                                                  |	     No     |
        |      es_cliente     |	boolean |	    1    |	Rol vendedor de la persona                                            |	     Si     |
        |adicionales_proveedor|	varchar |	   300   |	Informacion adicional del proveedor                                   |	     No     |
        |   numero_tarjeta    |	varchar |	   200   |	Numero de tarjeta de la persona                                       |	     No     |
        |    es_extranjero    |	boolean |	    1    |	Verificador de personas extranjeras                                   |	     No     |
        |      es_empleado    |	boolean |	    1    |	Rol empleado de la persona                                            | 	   No     |
        |     es_proveedor    |	boolean |	    1    |	Rol proveedor de la persona                                           |	     Si     |
        |     aplicar_cupo    |	boolean |	    1    |	Verificador si la persona tiene un cupo maximo como cliente           |	     No     |
        |       telefonos     |	varchar |	   50    |	Telefono de la persona 	                                              |      No     |
        |      tipo_cuenta    |	varchar |	    2    |	tipo de la cuenta contable asociada                                   |	     No     |
        |         placa       |	varchar |	   13    |	Placa de la persona si es de tipo placa                               |	  Opcional  |
        |        cedula       |	varchar |	   10    |	Cédula de la persona                                                  |	     Si     |


        | Parámetro |	  Tipo  | Longitud |    	    Descripción        |
        |-----------|---------|----------|-----------------------------|
        |   token   |	varchar |	   16    | Token enviado por Contifico.|

        NOTA: Se debe de enviar en true al menos uno de los campos: “es_proveedor” o “es_cliente”.
        Los campos opcionales son obligatorios dependiendo del tipo de persona que se cree, 
        personas Juridicas requieren el envío del campo ruc.

      operationId: Creación
      parameters:
        - in: query
          name: pos
          description: Api Token del POS
          required: true
          schema:
              type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Persona"
            examples:
              natural:
                $ref: '#/components/examples/natural'
              naturalconRUC:
                $ref: '#/components/examples/naturalconRUC'
              juridica:
                $ref: '#/components/examples/juridica'
              juridicaconCedula:
                $ref: '#/components/examples/juridicaconCedula'
              extranjeroNatural:
                $ref: '#/components/examples/extranjeroNatural'
              extranjeroJuridico:
                $ref: '#/components/examples/extranjeroJuridico'
              sinID:
                $ref: '#/components/examples/sinID'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Persona"
        '500':
          description: Error en el servidor

  /api/v2/persona/{id_integracion}/:
    get:
      tags:
        - Persona
      description: |-
        > GET https://api.contifico.com/sistema/api/v2/persona/{id_integracion}/

        Devuelve una persona con el id solicitado.


        |       Parámetro       |  Tipo   | Longitud |	                      Descripción                          |
        |-----------------------|---------|----------|-------------------------------------------------------------|
        |         id 	          | varchar |	    16   | Identificador de la cuenta en el sistema.                   |
        |  adicionales_cliente  | varchar |	   300 	 | Informacion adicional del cliente.                          |
        |  personaasociada_id   | varchar |	    16 	 | Identificador de la persona asociada a la persona actual.   |
        |       direccion       | varchar |    300   | Direccion de la persona.                                    |
        |       es_vendedor     | boolean |   	 1   | Rol vendedor de la persona.                                 |
        |          tipo 	      | varchar |      1 	 | Tipo de persona (N:Natural J:Juridica I:SinId P:Placa).     |
        |     razon_social  	  | varchar |	   300   | Razon social de la persona.                                 |
        |    nombre_comercial   | varchar |	   300   | Nombre comercial de la persona.                             |
        |    es_corporativo     | boolean |	    1 	 | Rol corporativo de la persona.                              |
        | porcentaje_descuento  | decimal |	    2 	 | Descuento de tipo cliente (2 decimales Max).                |
        |         origen        | varchar |	    3  	 | Tipo de POS desde el cual se registro.                      |
        |          ruc          | varchar |	    13   | Ruc de la persona.                                          |
        |    banco_codigo_id    | varchar |	   16 	 | Codigo de banco asociado a la persona.                      |
        |         email         | varchar |    50  	 | Correo de la persona.                                       |
        |       es_cliente   	  | boolean |	    1    | Rol vendedor de la persona.                                 |
        | adicionales_proveedor |	varchar |	   300 	 | Informacion adicional del proveedor.                        |
        |     numero_tarjeta    |	varchar |	   200 	 | Numero de tarjeta de la persona.                            |
        |      es_extranjero    |	boolean |	    1 	 | Verificador de personas extranjeras.                        |
        |       es_empleado     | boolean |	    1 	 | Rol empleado de la persona.                                 |
        |       es_proveedor 	  | boolean |	    1 	 | Rol proveedor de la persona.                                |
        |       aplicar_cupo    |	boolean |	    1 	 | Verificador si la persona tiene un cupo maximo como cliente.|
        |       telefonos      	| varchar |	   50 	 | Telefono de la persona.                                     |
        |      tipo_cuenta 	    | varchar |	    2 	 | tipo de la cuenta contable asociada.                        |
        |          placa      	| varchar |	   13 	 | Placa de la persona si es de tipo placa.                    |
        |         cedula 	      | varchar |	   10 	 | Cedula de la persona.                                       |
        |       id_categoria 	  | varchar |	   16 	 | Identificador de la categoria persona en el sistema.        |
        |    categoria_nombre   |	varchar |	   40 	 | Nombre de la categoria asociada a la persona.               |
        |   fecha_modificacion  |	  date  |	    -    | Fecha de modificación asociada a la persona.                |
        |         sueldo        |	decimal |	   10 	 | Sueldo asociado a la persona. (8 int, 2 decimal)max         |
        |      dias_credito     |	varchar |	   40 	 | Días de crédito asociado a la persona.                      |
        |      cupo_credito     |	varchar |	   40 	 | Cupo de crédito asociado a la persona.                      |
        |    vendedor_asignado  |	  obj   |	    -    | Vendedor asignado a la persona.                             |

      operationId: Obtener una persona
      parameters:
        - in: path
          name: id_integracion
          description: id_integracion Persona
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Persona"           
        '500':
          description: Error en el servidor
          
    put:
      tags: 
        - Persona
      description: |-
        Para modificar una persona se debe de hacer uso de la url:

        > PUT https://api.contifico.com/sistema/api/v2/persona/{id}/?pos={api_token}


        |      Parámetro      |	  Tipo  |	Longitud |	                           Descripción                                |	Obligatorio |
        |---------------------|---------|----------|------------------------------------------------------------------------|-------------|
        | adicionales_cliente |	varchar |	   300   |	Informacion adicional del cliente (acepta null)                       |	     No     |
        | personaasociada_id  |	varchar |	    16   |	Identificador de la persona asociada a la persona actual (acepta null)|	     No     |
        |      direccion      |	varchar |	   300   |	Direccion de la persona                                               |	     No     |
        |      es_vendedor    | boolean |	    1    |	Rol vendedor de la persona                                            |	     No     |
        |         tipo        |	varchar |	    1    |	Tipo de persona (N:Natural J:Juridica I:SinId P:Placa)                |	     Si     |
        |     razon_social    |	varchar |	   300   |	Razon social de la persona                                            |	     Si     |
        |   nombre_comercial  |	varchar |	   300   |	Nombre comercial de la persona                                        |	  Opcional  |
        |   es_corporativo    |	boolean |	    1    |	Rol corporativo de la persona                                         |	     No     |
        | porcentaje_descuento| decimal |	    2    | 	Descuento de tipo cliente                                             |	     No     |
        |          ruc        |	varchar |	   13    |	Ruc de la persona                                                     |	  Opcional  |
        |   banco_codigo_id   |	varchar |	   16    |	Codigo de banco asociado a la persona (acepta null)                   |	     No     |
        |         email       |	varchar |	   50    |  Correo de la persona                                                  |	     No     |
        |      es_cliente     |	boolean |	    1    |	Rol vendedor de la persona                                            |	     Si     |
        |adicionales_proveedor|	varchar |	   300   |	Informacion adicional del proveedor                                   |	     No     |
        |   numero_tarjeta    |	varchar |	   200   |	Numero de tarjeta de la persona                                       |	     No     |
        |    es_extranjero    |	boolean |	    1    |	Verificador de personas extranjeras                                   |	     No     |
        |      es_empleado    |	boolean |	    1    |	Rol empleado de la persona                                            | 	   No     |
        |     es_proveedor    |	boolean |	    1    |	Rol proveedor de la persona                                           |	     Si     |
        |     aplicar_cupo    |	boolean |	    1    |	Verificador si la persona tiene un cupo maximo como cliente           |	     No     |
        |       telefonos     |	varchar |	   50    |	Telefono de la persona 	                                              |      No     |
        |      tipo_cuenta    |	varchar |	    2    |	tipo de la cuenta contable asociada                                   |	     No     |
        |         placa       |	varchar |	   13    |	Placa de la persona si es de tipo placa                               |	  Opcional  |
        |        cedula       |	varchar |	   10    |	Cédula de la persona                                                  |	     Si     |


        | Parámetro |	  Tipo  | Longitud |    	    Descripción        |
        |-----------|---------|----------|-----------------------------|
        |   token   |	varchar |	   16    | Token enviado por Contifico.|

      operationId: Actualización
      parameters:
        - in: path
          name: id_integracion
          description: id_integracion Persona
          required: true
          schema:
            type: string
        - in: query
          name: pos
          description: Api Token del POS.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Persona"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Persona"
        '500':
          description: Error en el servidor

  /api/v2/categoria/:
    get:
      tags:
        - Categoria
      description: |-
        > GET https://api.contifico.com/sistema/api/v2/categoria/

        Devuelve un listado con todas las categorías creadas en el sistema.

        |      Parámetro    |	  Tipo  |	Longitud |	                            Descripción                                          |
        |-------------------|---------|----------|-----------------------------------------------------------------------------------|
        |       nombre      |	varchar |	   300   |	Nombre de la categoría.                                                          |
        |         id        |	varchar |	    16   |	Identificador de la categoria en el sistema.                                     |

      operationId: Consulta
      parameters:
        - in: query
          name: tipo
          schema:
            type: string
            description: Tipo de la categoria. [Transaccional, Grupo].
        - in: query
          name: search_exact
          schema:
            type: string
            description: Filtra por nombre de la categoria.
        - in: query
          name: modificados_desde_fecha
          schema:
            type: date
            description: Filtra por fecha de modificación.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Categoria"
    post:
      tags:
        - Categoria
      description: |-
        Para crear una categoría se debe de hacer uso de la url:

        > POST https://api.contifico.com/sistema/api/v2/categoria/


        |     Parámetro     |	  Tipo  |	Longitud |	                                Descripción                                      |	Obligatorio |
        |-------------------|---------|----------|-----------------------------------------------------------------------------------|--------------|
        |      nombre       |	varchar |	   300   |	Nombre de la categoría.                                                          |	    Si      |

      operationId: Creación
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Categoria"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Categoria"

  /api/v2/categoria/{id_integracion}/:
    get:
      tags:
        - Categoria
      description: |-
        > GET https://api.contifico.com/sistema/api/v2/categoria/{id_integracion}/

        Devuelve una categoría con el id solicitado.

        |      Parámetro    |	  Tipo  |	Longitud |	                            Descripción                                          |
        |-------------------|---------|----------|-----------------------------------------------------------------------------------|
        |       nombre      |	varchar |	   300   |	Nombre de la categoría.                                                          |
        |         id        |	varchar |	    16   |	Identificador de la categoria en el sistema.                                     |

      operationId: Obtener una categoría
      parameters:
        - in: path
          name: id_integracion
          description: id_integracion Categoria
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Categoria" 

    put:
      tags:
        - Categoria
      description: |-
        > PUT https://api.contifico.com/sistema/api/v2/categoria/{id_integracion}/

        Modifica una categoría con el id solicitado.

        |      Parámetro    |	  Tipo  |	Longitud |	                            Descripción                                          |
        |-------------------|---------|----------|-----------------------------------------------------------------------------------|
        |       nombre      |	varchar |	   300   |	Nombre de la categoría.                                                          |

      operationId: Actualizar una categoría
      parameters:
        - in: path
          name: id_integracion
          description: id_integracion Categoria
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Categoria"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Categoria" 

  /api/v2/bodega/:
    get:
      tags:
        - Bodega
      description: |-
        > GET https://api.contifico.com/sistema/api/v2/bodega/

        Devuelve un listado con todas las bodegas creadas en el sistema


        | Parámetro  |	 Tipo  |	Longitud |	                   Descripción                   |
        |------------|---------|-----------|---------------------------------------------------|
        |    venta   | boolean |	   -     |	Indica si la bodega está marcada para la venta.  |
        | produccion | boolean |	   -     |	Indica si la bodega está marcada para producción.|
        |    compra  | boolean |	   -     |	Indica si la bodega está marcada para la compra. |
        |    nombre  | varchar |	  300    |	Nombre de la bodega.                             |
        |   codigo   | varchar |	  300    |	Código de la bodega.                             |
        |      id    | varchar |	   16    |	Identificador de la bodega en el sistema.        |

      operationId: Consulta
      parameters:
        - in: query
          name: fecha_inicial
          description: Filtro para consultar las bodegas desde la fecha de última modificación.
          schema:
            type: date
        - in: query
          name: fecha_final
          description: Filtro para consultar las bodegas hasta la fecha de última modificación.
          schema:
            type: date
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Bodega" 

  /api/v2/bodega/{id_integracion}/:
    get:
      tags:
        - Bodega
      description: |-
        > GET https://api.contifico.com/sistema/api/v2/bodega/{id_integracion}/

        Devuelve una bodega con el id solicitado.


        | Parámetro  |	 Tipo  |	Longitud |	                   Descripción                   |
        |------------|---------|-----------|---------------------------------------------------|
        |    venta   | boolean |	   -     |	Indica si la bodega está marcada para la venta.  |
        | produccion | boolean |	   -     |	Indica si la bodega está marcada para producción.|
        |    compra  | boolean |	   -     |	Indica si la bodega está marcada para la compra. |
        |    nombre  | varchar |	  300    |	Nombre de la bodega.                             |
        |   codigo   | varchar |	  300    |	Código de la bodega.                             |
        |      id    | varchar |	   16    |	Identificador de la bodega en el sistema.        |

      operationId: Obtener una bodega
      parameters:
        - in: path
          name: id_integracion
          description: Id de integracion de la bodega
          required: true
          schema: 
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Bodega" 
    
  /api/v2/producto/:
    get:
      tags:
        - Producto
      description: |- 
        > GET https://api.contifico.com/sistema/api/v2/producto/

        Devuelve un listado con todos los productos creados en el sistema.


        | Parámetro                  | Tipo               | Longitud | Descripción                                                                 |
        |----------------------------|--------------------|----------|-----------------------------------------------------------------------------|
        | porcentaje_iva             | SmallIntegerField  | -        | Valor de porcentaje de IVA que tiene el producto.                           |
        | costo_maximo               | decimal            | 13       | Valor de costo máximo que puede tener el producto (7 int, 6 decimal) max.   |
        | descripcion_departamento   | varchar            | 40       | Descripción de departamento de Mi Comisariato. (Modulo adicional)           |
        | imagen                     | obj                | -        | Objeto Foto relacionado al producto.                                        |
        | minimo                     | decimal            | 13       | Valor mínimo de stock que debe estar disponible (7 int, 6 decimal) max.     |
        | para_comisariato           | boolean            | 1        | Indicador si el producto se usa para comisariato. (Modulo adicional)        |
        | indicador_peso             | varchar            | 1        | Indicador de balanza (0:no es de balanza, 1:requiere peso, 2:por cantidad). (Modulo adicional) |
        | generacion_automatica      | boolean            | 1        | Variable de control para determinar si el producto se utiliza en Orden de Compra. |
        | cuenta_costo_id            | varchar            | 16       | Identificador de la cuenta costo en el sistema.                             |
        | pvp2                       | decimal            | 13       | Precio de venta 2 (7 int, 6 decimal) max.                                   |
        | tipo                       | varchar            | 16       | Tipo de producto (PRO:Producto, SER:Servicio).                              |
        | fecha_creacion             | date               | -        | Fecha de creación del producto. (dd/mm/aaaa)                                |
        | id                         | varchar            | 16       | Identificador del producto en el sistema.                                   |
        | tipo_producto              | varchar            | 3        | Subtipo del tipo Producto (SIM:simple, COM:combo, COP:compuesto, PRO:producción) |
        | pvp3                       | decimal            | 13       | Precio de venta 3 (7 int, 6 decimal) max.                                   |
        | codigo_proveedor           | varchar            | 200      | Código utilizado para catálogo de productos.                                |
        | pvp1                       | decimal            | 13       | Precio de venta 1 (7 int, 6 decimal) max.                                   |
        | id_integracion_proveedor   | varchar            | 16       | Identificador de la persona proveedor en el sistema.                        |
        | para_supereasy             | boolean            | 1        | Indicador si el producto se usa para supereasy. (Modulo adicional)          |
        | nombre                     | varchar            | 300      | Nombre del producto.                                                        |
        | codigo_sap                 | varchar            | 200      | Código de producto registrado desde SAP. (Modulo adicional)                 |
        | descripcion_jerarquia      | varchar            | 40       | Descripción de jerarquía de Mi Comisariato. (Modulo adicional)              |
        | pvp_manual                 | boolean            | 1        | Variable de control para determinar si el producto utiliza precio manual.   |
        | codigo_barra               | varchar            | 50       | Secuencia que representa el código de barras de un producto.                |
        | pvp_comisariato            | decimal            | 13       | Precio de venta de Mi Comisariato (7 int, 6 decimal) max. (Modulo adicional)|
        | pvp4                       | decimal            | 13       | Precio de venta 4 (7 int, 6 decimal) max.                                   |
        | cuenta_venta_id            | varchar            | 16       | Identificador de la cuenta contable asignada para la venta en el sistema.   |
        | categoria_id               | varchar            | 16       | Identificador de la categoría en el sistema.                                |
        | peso_hasta                 | decimal            | 5        | Valor de peso final para balanza. (Modulo adicional)                        |
        | pvp_peso                   | decimal            | 13       | Valor de venta de peso para balanza (7 int, 6 decimal) max. (Modulo adicional) |
        | jerarquia                  | varchar            | 10       | Jerarquía del producto en Mi Comisariato. (Modulo adicional)                |
        | departamento               | varchar            | 3        | Identificador de departamento de Mi Comisariato. (Modulo adicional)         |
        | para_pos                   | boolean            | 1        | Variable de control para determinar si el producto se utiliza en POS.       |
        | familia                    | varchar            | 6        | Identificador de familia de Mi Comisariato. (Modulo adicional)              |
        | marca_id                   | varchar            | 16       | Identificador de la marca en el sistema.                                    |
        | marca_nombre               | varchar            | 50       | Nombre de la marca asociada al producto.                                    |
        | estado                     | varchar            | 1        | Estado del producto (A:activo, I:inactivo).                                 |
        | categoria_comisariato      | varchar            | 16       | Identificador de la categoría comisariato en el sistema. (Modulo adicional) |
        | cuenta_compra_id           | varchar            | 16       | Identificador de la cuenta contable asignada para la compra en el sistema.  |
        | personalizado1             | varchar            | 300      | Campo personalizado para información adicional del producto.                |
        | peso_desde                 | decimal            | 5        | Valor de peso inicial para balanza. (Modulo adicional)                      |
        | personalizado2             | varchar            | 300      | Campo personalizado para información adicional del producto.                |
        | codigo                     | varchar            | 200      | Código único del producto.                                                  |
        | nombre_producto_base       | varchar            | 300      | Nombre del producto padre.                                                  |
        | pvp_supereasy              | decimal            | 13       | Precio de venta de Super Easy (7 int, 6 decimal) max. (Modulo adicional)    |
        | variantes                  | obj                | -        | Objeto contenedor de las variantes del producto.                            |
        | producto_base_id           | varchar            | 16       | Identificador del producto en el sistema.                                   |
        | detalle_variantes          | obj                | -        | Objeto contenedor de los detalles de las variantes del producto.            |
        | valor_id                   | varchar            | 16       | Identificador del valor de la variante en el sistema.                       |
        | variante_id                | varchar            | 16       | Identificador de la variante en el sistema.                                 |
        | lead_time                  | int                | -        | Tiempo estimado para recepción de producto desde su solicitud.              |
        | cantidad_stock             | varchar            | 16       | Stock del producto.                                                         |
        | unidad                     | varchar            | 16       | Id de la unidad del producto.                                               |
        | codigo_auxiliar            | varchar            | 25       | Codigo auxiliar del producto.                                               |
        | porcentaje_ice             | decimal            | 5        | Porcentaje ICE (3 int, 2 decimal)max.                                       |
        | valor_ice                  | decimal            | 5        | Valor ICE (3 int, 2 decimal)max.                                            |
        | campo_catalogo             | varchar            | 200      | Texto adicional utilizado para mostrar en los catalagos de productos.       |
        | maneja_nombremanual        | boolean            | 1        | Indica si el producto maneja nombre manual                                  |
        | porcentaje_servicio        | boolean            | 1        | Indica si el producto maneja porcentaje de servicio                                          |

      operationId: Consulta
      parameters:
        - in: query 
          name: modificados_desde_fecha
          description: Filtra productos desde la fecha del último cambio.
          schema:
            type: date
        - in: query 
          name: fecha_inicial
          description: Filtro de fecha inicial de la fecha de último cambio.
          schema:
            type: date
        - in: query 
          name: fecha_final
          description: Filtro de fecha final de la fecha de último cambio.
          schema:
            type: date
        - in: query 
          name: filtro
          description: Filtro que puede contener nombre o código del producto.
          schema:
            type: string
        - in: query 
          name: page
          description: Consultar productos por página, se envía el parámetro page y el número de la página, y esto retorna 100 items.
          schema:
            type: string
        - in: query 
          name: estado
          description: Consultar productos por estado (A=activo, I=inactivo).
          schema:
            type: string
        - in: query 
          name: categoria_id
          description: Identificador de la categoría.
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Producto" 
    post:
      tags:
        - Producto
      description: |-
        Para la creación de productos, depende de la configuración de parámetros de cada empresa,
        especialmente al parámetro “habilitar_comiexpress”, cuando este parámetro se encuentre habilitado,
        se crea el detalle del producto. 

        > POST https://api.contifico.com/sistema/api/v2/producto/

        Para obtener el ID de la categoría, se debe hacer uso del servicio de consulta de categorías.

        | Parámetro                | Tipo               | Longitud | Descripción                                                                 | Obligatorio |
        |--------------------------|--------------------|----------|-----------------------------------------------------------------------------|-------------|
        | porcentaje_iva           | SmallIntegerField  |        - | Valor de porcentaje de IVA que tiene el producto.                           | No          |
        | costo_maximo             | decimal            |       13 | Valor de costo máximo que puede tener el producto (7 int, 6 decimal) max.   | No          |
        | descripcion_departamento | varchar            |       40 | Descripción de departamento de Mi Comisariato. (Modulo adicional)           | No          |
        | imagen                   | obj                |        - | Objeto Foto relacionado al producto.                                        | No          |
        | minimo                   | decimal            |       13 | Valor mínimo de stock que debe estar disponible (7 int, 6 decimal) max.     | Si          |
        | para_comisariato         | boolean            |        1 | Indicador si el producto se usa para comisariato. (Modulo adicional)        | No          |
        | indicador_peso           | varchar            |        1 | Indicador de balanza (0:no es de balanza, 1:requiere peso, 2:por cantidad). (Modulo adicional) | No |
        | generacion_automatica    | boolean            |        1 | Variable de control para determinar si el producto se utiliza en Orden de Compra. | No |
        | cuenta_costo_id          | varchar            |       16 | Identificador de la cuenta costo en el sistema.                             | No          |
        | pvp2                     | decimal            |       13 | Precio de venta 2 (7 int, 6 decimal) max.                                   | No          |
        | tipo                     | varchar            |       16 | Tipo de producto (PRO:Producto, SER:Servicio). *Por defecto PRO si no se envía en el JSON | No |
        | fecha_creacion           | date               |        - | Fecha de creación del producto.(dd/mm/aaaa)                                 | No          |
        | tipo_producto            | varchar            |        3 | Subtipo del tipo Producto (SIM:simple)                                      | No          |
        | pvp3                     | decimal            |       13 | Precio de venta 3 (7 int, 6 decimal) max.                                   | No          |
        | codigo_proveedor         | varchar            |      200 | Código utilizado para catálogo de productos.                                | No          |
        | pvp1                     | decimal            |       13 | Precio de venta 1 (7 int, 6 decimal) max.                                   | Si          |
        | id_integracion_proveedor | varchar            |       16 | Identificador de la persona proveedor en el sistema.                        | No          |
        | para_supereasy           | boolean            |        1 | Indicador si el producto se usa para supereasy. (Modulo adicional)          | No          |
        | nombre                   | varchar            |      300 | Nombre del producto.                                                        | Si          |
        | codigo_sap               | varchar            |      200 | Código de producto registrado desde SAP. (Modulo adicional)                 | No          |
        | descripcion_jerarquia    | varchar            |       40 | Descripción de jerarquía de Mi Comisariato. (Modulo adicional)              | No          |
        | pvp_manual               | boolean            |        1 | Variable de control para determinar si el producto utiliza precio manual.   | Opcional    |
        | codigo_barra             | varchar            |       50 | Secuencia que representa el código de barras de un producto.                | No          |
        | pvp_comisariato          | decimal            |       13 | Precio de venta de Mi Comisariato (7 int, 6 decimal) max. (Modulo adicional)| No          |
        | pvp4                     | decimal            |       13 | Precio de venta 4 (7 int, 6 decimal) max.                                   | No          |
        | cuenta_venta_id          | varchar            |       16 | Identificador de la cuenta contable asignada para la venta en el sistema.   | No          |
        | categoria_id             | varchar            |       16 | Identificador de la categoría en el sistema.                                | No          |
        | peso_hasta               | decimal            |        5 | Valor de peso final para balanza. (Modulo adicional)                        | No          |
        | pvp_peso                 | decimal            |       13 | Valor de venta de peso para balanza (7 int, 6 decimal) max. (Modulo adicional) | No |
        | jerarquia                | varchar            |       10 | Jerarquía del producto en Mi Comisariato. (Modulo adicional)                | No          |
        | departamento             | varchar            |        3 | Identificador de departamento de Mi Comisariato. (Modulo adicional)         | No          |
        | para_pos                 | boolean            |        1 | Variable de control para determinar si el producto se utiliza en POS.       | No          |
        | familia                  | varchar            |        6 | Identificador de familia de Mi Comisariato. (Modulo adicional)              | No          |
        | marca_id                 | varchar            |       16 | Identificador de la marca en el sistema.                                    | No          |
        | marca_nombre             | varchar            |       50 | Nombre de la marca asociada al producto.                                    | No          |
        | estado                   | varchar            |        1 | Estado del producto (A:activo, I:inactivo).                                 | Si          |
        | categoria_comisariato    | varchar            |       16 | Identificador de la categoría comisariato en el sistema. (Modulo adicional) | No          |
        | cuenta_compra_id         | varchar            |       16 | Identificador de la cuenta contable asignada para la compra en el sistema.  | No          |
        | personalizado1           | varchar            |      300 | Campo personalizado para información adicional del producto.                | No          |
        | peso_desde               | decimal            |        5 | Valor de peso inicial para balanza. (Modulo adicional)                      | No          |
        | personalizado2           | varchar            |      300 | Campo personalizado para información adicional del producto.                | No          |
        | codigo                   | varchar            |      200 | Código único del producto.                                                  | Si          |
        | nombre_producto_base     | varchar            |      300 | Nombre del producto padre.                                                  | No          |
        | pvp_supereasy            | decimal            |       13 | Precio de venta de Super Easy (7 int, 6 decimal) max. (Modulo adicional)    | No          |
        | variantes                | obj                |        - | Objeto contenedor de las variantes del producto.                            | No          |
        | producto_base_id         | varchar            |       16 | Identificador del producto en el sistema.                                   | No          |
        | detalle_variantes        | obj                |        - | Objeto contenedor de los detalles de las variantes del producto.            | No          |
        | valor_id                 | varchar            |       16 | Identificador del valor de la variante en el sistema.                       | No          |
        | variante_id              | varchar            |       16 | Identificador de la variante en el sistema.                                 | No          |
        | lead_time                | int                |        - | Tiempo estimado para recepción de producto desde su solicitud.              | No          |
        | cantidad_stock           | varchar            |       16 | Stock del producto.                                                         | No          |
        | unidad                     | varchar            | 16       | Id de la unidad del producto.                                               |
        | codigo_auxiliar            | varchar            | 25       | Codigo auxiliar del producto.                                               |
        | porcentaje_ice             | decimal            | 5        | Porcentaje ICE (3 int, 2 decimal)max.                                       |
        | valor_ice                  | decimal            | 5        | Valor ICE (3 int, 2 decimal)max.                                            |
        | campo_catalogo             | varchar            | 200      | Texto adicional utilizado para mostrar en los catalagos de productos.       |
        | maneja_nombremanual        | boolean            | 1        | Indica si el producto maneja nombre manual                                  |
        | porcentaje_servicio        | boolean            | 1        | Indica si el producto maneja porcentaje de servicio                                          |

        NOTA: El campo “tipo” se puede dejar vacío o solo enviar los valores “PRO” para producto o “SER” para servicio. 

        Se debe enviar mínimo un pvp o el campo “pvp_manual” como true. 

        El campo “codigo”, puede tener un máximo de 25 caracteres.

        El campo marca_id y marca_nombre muestran informacion de la marca asociada al producto.

      operationId: Creación
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Producto"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Producto"

  /api/v2/producto/{id_integracion}:
    get:
      tags:
        - Producto
      description: |-
        > GET https://api.contifico.com/sistema/api/v2/producto/{id_integracion}

        Devuelve un objeto JSON de un producto, utilizando el id solicitado.


        | Parámetro                  | Tipo               | Longitud | Descripción                                                                 |
        |----------------------------|--------------------|----------|-----------------------------------------------------------------------------|
        | porcentaje_iva             | SmallIntegerField  | -        | Valor de porcentaje de IVA que tiene el producto.                           |
        | costo_maximo               | decimal            | 13       | Valor de costo máximo que puede tener el producto (7 int, 6 decimal) max.   |
        | descripcion_departamento   | varchar            | 40       | Descripción de departamento de Mi Comisariato. (Modulo adicional)           |
        | imagen                     | obj                | -        | Objeto Foto relacionado al producto.                                        |
        | minimo                     | decimal            | 13       | Valor mínimo de stock que debe estar disponible (7 int, 6 decimal) max.     |
        | para_comisariato           | boolean            | 1        | Indicador si el producto se usa para comisariato. (Modulo adicional)        |
        | indicador_peso             | varchar            | 1        | Indicador de balanza (0:no es de balanza, 1:requiere peso, 2:por cantidad). (Modulo adicional) |
        | generacion_automatica      | boolean            | 1        | Variable de control para determinar si el producto se utiliza en Orden de Compra. |
        | cuenta_costo_id            | varchar            | 16       | Identificador de la cuenta costo en el sistema.                             |
        | pvp2                       | decimal            | 13       | Precio de venta 2 (7 int, 6 decimal) max.                                   |
        | tipo                       | varchar            | 16       | Tipo de producto (PRO:Producto, SER:Servicio).                              |
        | fecha_creacion             | date               | -        | Fecha de creación del producto.(dd/mm/aaaa)                                 |
        | id                         | varchar            | 16       | Identificador del producto en el sistema.                                   |
        | tipo_producto              | varchar            | 3        | Subtipo del tipo Producto (SIM:simple, COM:combo, COP:compuesto, PRO:producción) |
        | pvp3                       | decimal            | 13       | Precio de venta 3 (7 int, 6 decimal) max.                                   |
        | codigo_proveedor           | varchar            | 200      | Código utilizado para catálogo de productos.                                |
        | pvp1                       | decimal            | 13       | Precio de venta 1 (7 int, 6 decimal) max.                                   |
        | id_integracion_proveedor   | varchar            | 16       | Identificador de la persona proveedor en el sistema.                        |
        | para_supereasy             | boolean            | 1        | Indicador si el producto se usa para supereasy. (Modulo adicional)          |
        | nombre                     | varchar            | 300      | Nombre del producto.                                                        |
        | codigo_sap                 | varchar            | 200      | Código de producto registrado desde SAP. (Modulo adicional)                 |
        | descripcion_jerarquia      | varchar            | 40       | Descripción de jerarquía de Mi Comisariato. (Modulo adicional)              |
        | pvp_manual                 | boolean            | 1        | Variable de control para determinar si el producto utiliza precio manual.   |
        | codigo_barra               | varchar            | 50       | Secuencia que representa el código de barras de un producto.                |
        | pvp_comisariato            | decimal            | 13       | Precio de venta de Mi Comisariato (7 int, 6 decimal) max. (Modulo adicional)|
        | pvp4                       | decimal            | 13       | Precio de venta 4 (7 int, 6 decimal) max.                                   |
        | cuenta_venta_id            | varchar            | 16       | Identificador de la cuenta contable asignada para la venta en el sistema.   |
        | categoria_id               | varchar            | 16       | Identificador de la categoría en el sistema.                                |
        | peso_hasta                 | decimal            | 5        | Valor de peso final para balanza. (Modulo adicional)                        |
        | pvp_peso                   | decimal            | 13       | Valor de venta de peso para balanza (7 int, 6 decimal) max. (Modulo adicional) |
        | jerarquia                  | varchar            | 10       | Jerarquía del producto en Mi Comisariato. (Modulo adicional)                |
        | departamento               | varchar            | 3        | Identificador de departamento de Mi Comisariato. (Modulo adicional)         |
        | para_pos                   | boolean            | 1        | Variable de control para determinar si el producto se utiliza en POS.       |
        | familia                    | varchar            | 6        | Identificador de familia de Mi Comisariato. (Modulo adicional)              |
        | marca_id                   | varchar            | 16       | Identificador de la marca en el sistema.                                    |
        | marca_nombre               | varchar            | 50       | Nombre de la marca asociada al producto.                                    |
        | estado                     | varchar            | 1        | Estado del producto (A:activo, I:inactivo).                                 |
        | categoria_comisariato      | varchar            | 16       | Identificador de la categoría comisariato en el sistema. (Modulo adicional) |
        | cuenta_compra_id           | varchar            | 16       | Identificador de la cuenta contable asignada para la compra en el sistema.  |
        | personalizado1             | varchar            | 300      | Campo personalizado para información adicional del producto.                |
        | peso_desde                 | decimal            | 5        | Valor de peso inicial para balanza. (Modulo adicional)                      |
        | personalizado2             | varchar            | 300      | Campo personalizado para información adicional del producto.                |
        | codigo                     | varchar            | 200      | Código único del producto.                                                  |
        | nombre_producto_base       | varchar            | 300      | Nombre del producto padre.                                                  |
        | pvp_supereasy              | decimal            | 13       | Precio de venta de Super Easy (7 int, 6 decimal) max. (Modulo adicional)    |
        | variantes                  | obj                | -        | Objeto contenedor de las variantes del producto.                            |
        | producto_base_id           | varchar            | 16       | Identificador del producto en el sistema.                                   |
        | detalle_variantes          | obj                | -        | Objeto contenedor de los detalles de las variantes del producto.            |
        | valor_id                   | varchar            | 16       | Identificador del valor de la variante en el sistema.                       |
        | variante_id                | varchar            | 16       | Identificador de la variante en el sistema.                                 |
        | lead_time                  | int                | -        | Tiempo estimado para recepción de producto desde su solicitud.              |
        | cantidad_stock             | varchar            | 16       | Stock del producto.                                                         |
        | unidad                     | varchar            | 16       | Id de la unidad del producto.                                               |
        | codigo_auxiliar            | varchar            | 25       | Codigo auxiliar del producto.                                               |
        | porcentaje_ice             | decimal            | 5        | Porcentaje ICE (3 int, 2 decimal)max.                                       |
        | valor_ice                  | decimal            | 5        | Valor ICE (3 int, 2 decimal)max.                                            |
        | campo_catalogo             | varchar            | 200      | Texto adicional utilizado para mostrar en los catalagos de productos.       |
        | maneja_nombremanual        | boolean            | 1        | Indica si el producto maneja nombre manual                                  |
        | porcentaje_servicio        | boolean            | 1        | Indica si el producto maneja porcentaje de servicio                                          |

      operationId: Obtener un producto
      parameters:
        - in: path
          name: id_integracion
          description: Id de integracion Producto
          required: true
          schema: 
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Producto"         
    put:
      tags:
        - Producto
      description: |-
        Para modificar un producto, se utiliza la siguiente URL:

        > PUT https://api.contifico.com/sistema/api/v2/producto/{id_integracion}/

        Para la modificación de un producto, depende de la configuración de parámetros de cada empresa, 
        especialmente al parámetro “habilitar_comiexpress”, cuando este parámetro se encuentre habilitado, 
        se crea el detalle del producto. 

        | Parámetro                | Tipo               | Longitud | Descripción                                                                 | Obligatorio |
        |--------------------------|--------------------|----------|-----------------------------------------------------------------------------|-------------|
        | porcentaje_iva           | SmallIntegerField  |        - | Valor de porcentaje de IVA que tiene el producto.                           | No          |
        | costo_maximo             | decimal            |       13 | Valor de costo máximo que puede tener el producto (7 int, 6 decimal) max.   | No          |
        | minimo                   | decimal            |       13 | Valor mínimo de stock que debe estar disponible (7 int, 6 decimal) max.     | Si          |
        | para_comisariato         | boolean            |        1 | Indicador si el producto se usa para comisariato. (Modulo adicional)        | No          |
        | indicador_peso           | varchar            |        1 | Indicador de balanza (0:no es de balanza, 1:requiere peso, 2:por cantidad). (Modulo adicional) | No |
        | generacion_automatica    | boolean            |        1 | Variable de control para determinar si el producto se utiliza en Orden de Compra. | No |
        | cuenta_costo_id          | varchar            |       16 | Identificador de la cuenta costo en el sistema.                             | No          |
        | pvp2                     | decimal            |       13 | Precio de venta 2 (7 int, 6 decimal) max.                                   | No          |
        | tipo                     | varchar            |       16 | Tipo de producto (PRO:Producto, SER:Servicio). *Por defecto PRO si no se envía en el JSON | No |
        | tipo_producto            | varchar            |        3 | Subtipo del tipo Producto (SIM:simple)                                      | No          |
        | pvp3                     | decimal            |       13 | Precio de venta 3 (7 int, 6 decimal) max.                                   | No          |
        | codigo_proveedor         | varchar            |      200 | Código utilizado para catálogo de productos.                                | No          |
        | pvp1                     | decimal            |       13 | Precio de venta 1 (7 int, 6 decimal) max.                                   | Si          |
        | para_supereasy           | boolean            |        1 | Indicador si el producto se usa para supereasy. (Modulo adicional)          | No          |
        | nombre                   | varchar            |      300 | Nombre del producto.                                                        | Si          |
        | codigo_sap               | varchar            |      200 | Código de producto registrado desde SAP. (Modulo adicional)                 | No          |
        | descripcion_jerarquia    | varchar            |       40 | Descripción de jerarquía de Mi Comisariato. (Modulo adicional)              | No          |
        | pvp_manual               | boolean            |        1 | Variable de control para determinar si el producto utiliza precio manual.   | Opcional    |
        | codigo_barra             | varchar            |       50 | Secuencia que representa el código de barras de un producto.                | No          |
        | pvp_comisariato          | decimal            |       13 | Precio de venta de Mi Comisariato (7 int, 6 decimal) max. (Modulo adicional)| No          |
        | pvp4                     | decimal            |       13 | Precio de venta 4 (7 int, 6 decimal) max.                                   | No          |
        | cuenta_venta_id          | varchar            |       16 | Identificador de la cuenta contable asignada para la venta en el sistema.   | No          |
        | categoria_id             | varchar            |       16 | Identificador de la categoría en el sistema.                                | No          |
        | peso_hasta               | decimal            |        5 | Valor de peso final para balanza. (Modulo adicional)                        | No          |
        | pvp_peso                 | decimal            |       13 | Valor de venta de peso para balanza (7 int, 6 decimal) max. (Modulo adicional) | No |
        | jerarquia                | varchar            |       10 | Jerarquía del producto en Mi Comisariato. (Modulo adicional)                | No          |
        | departamento             | varchar            |        3 | Identificador de departamento de Mi Comisariato. (Modulo adicional)         | No          |
        | para_pos                 | boolean            |        1 | Variable de control para determinar si el producto se utiliza en POS.       | No          |
        | familia                  | varchar            |        6 | Identificador de familia de Mi Comisariato. (Modulo adicional)              | No          |
        | marca_id                 | varchar            |       16 | Identificador de la marca en el sistema.                                    | No          |
        | estado                   | varchar            |        1 | Estado del producto (A:activo, I:inactivo).                                 | Si          |
        | categoria_comisariato    | varchar            |       16 | Identificador de la categoría comisariato en el sistema. (Modulo adicional) | No          |
        | cuenta_compra_id         | varchar            |       16 | Identificador de la cuenta contable asignada para la compra en el sistema.  | No          |
        | personalizado1           | varchar            |      300 | Campo personalizado para información adicional del producto.                | No          |
        | peso_desde               | decimal            |        5 | Valor de peso inicial para balanza. (Modulo adicional)                      | No          |
        | personalizado2           | varchar            |      300 | Campo personalizado para información adicional del producto.                | No          |
        | codigo                   | varchar            |      200 | Código único del producto.                                                  | Si          |
        | pvp_supereasy            | decimal            |       13 | Precio de venta de Super Easy (7 int, 6 decimal) max. (Modulo adicional)    | No          |
        | cantidad_stock           | varchar            |       16 | Stock del producto.                                                         | No          |
        | unidad                   | varchar            | 16       | Id de la unidad del producto.                                               | No          |
        | codigo_auxiliar          | varchar            | 25       | Codigo auxiliar del producto.                                               | No          |
        | porcentaje_ice           | decimal            | 5        | Porcentaje ICE (3 int, 2 decimal)max.                                       | No          |
        | valor_ice                | decimal            | 5        | Valor ICE (3 int, 2 decimal)max.                                            | No          |
        | campo_catalogo           | varchar            | 200      | Texto adicional utilizado para mostrar en los catalagos de productos.       | No          |
        | maneja_nombremanual      | boolean            | 1        | Indica si el producto maneja nombre manual                                  | No          |
        | porcentaje_servicio      | boolean            | 1        | Indica si el producto maneja porcentaje de servicio                         | No          |

      operationId: Actualización
      parameters:
        - in: path
          name: id_integracion
          description: Id de integracion Producto
          required: true
          schema: 
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Producto"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Producto" 

  /api/v2/producto/{id_integracion}/stock/:
    get:
      tags:
        - Producto
      description: |-
        Para obtener el stock de un producto por bodega se puede hacer uso del servicio:

        > GET https://api.contifico.com/sistema/api/v2/producto/{id_integracion}/stock/

        Esto nos devolverá un JSON listando el stock de las bodegas que pertenezcan a un punto de venta
        en Contífico.

        | Parámetro     | Tipo    | Longitud | Descripción                                                   |
        |---------------|:-------:|---------:|---------------------------------------------------------------|
        | bodega_nombre | varchar |      200 | Nombre de la bodega.                                          |
        | bodega_id     | varchar |       16 | Identificador de la bodega en el sistema.                     |
        | cantidad      | decimal |       13 | Cantidad actual del producto en la bodega (7 int, 6 decimal) max. |

      operationId: Obtener Stock de bodegas
      parameters:
        - in: path
          name: id_integracion
          description: Id de integracion Producto
          required: true
          schema: 
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Stock"
  
  /api/v2/movimiento-inventario/:
    get:
      tags:
        - Movimientos de Inventario
      description: |-
        > GET https://api.contifico.com/sistema/api/v2/movimiento-inventario/

        Devuelve un listado de los movimientos de inventario.


        | Parámetro         | Tipo     | Longitud | Descripción                                                                 |
        |-------------------|:--------:|---------:|-----------------------------------------------------------------------------|
        | codigo            | varchar  |       16 | Código del movimiento de inventario.                                        |
        | bodega_id         | varchar  |       16 | Identificador de la bodega en el sistema.                                   |
        | tipo              | varchar  |        3 | Tipo de movimiento de inventario (ING:ingreso, EGR:egreso, TRA:traslado, AJU:ajuste de costo) |
        | fecha             | date     |        - | Fecha del movimiento de inventario (dd/mm/aaaa)                             |
        | generar_asiento   | boolean  |        - | Indica si el movimiento se marcó para generar un asiento.                   |
        | pos               | varchar  |       16 | Identificador del punto de venta desde el que se registró el movimiento.    |
        | detalles          | objeto   |        - | Objeto contenedor de los detalles del movimiento.                           |
        | producto_id       | varchar  |       16 | Identificador del producto en el sistema.                                   |
        | edicion           | boolean  |        - | Campo para módulo específico.                                               |
        | precio            | decimal  |       13 | Precio del producto en el movimiento (7 int, 6 decimal) max.                |
        | cantidad          | decimal  |       13 | Indica la cantidad del producto en el movimiento (7 int, 6 decimal) max.    |
        | maneja_venta      | boolean  |        - | Campo para módulo específico.                                               |
        | descripcion       | text     |        - | Descripción del movimiento.                                                 |
        | total             | decimal  |       10 | Valor total del movimiento (8 int, 2 decimal) max.                          |
        | estado            | varchar  |        1 | Estado del movimiento de inventario (G:generado, P:pendiente).              |
        | id                | varchar  |       16 | Identificador del movimiento en el sistema.                                 |
        | bodega_destino_id | varchar  |       16 | Identificador de la bodega destino del movimiento en el sistema.            |
        | codigo_interno    | varchar  |        - | Campo para módulo específico.                                               |
        | cuenta_id         | varchar  |        16| Id de la cuenta contable.                                                   |
        | proyecto          | varchar  |        16| Proyecto.                                                                   |

      operationId: Consulta
      parameters:
        - in: query
          name: fecha_inicial
          description: Consultar movimientos por rango de fecha.
          schema: 
            type: date
        - in: query
          name: fecha_final
          description: Consultar movimientos por rango de fecha
          schema: 
            type: date
        - in: query
          name: estado
          description: G:generado, P:pendiente
          schema: 
            type: string
        - in: query
          name: tipo
          description: ING:ingreso EGR:egreso, TRA:traslado, AJU:ajuste de costo
          schema: 
            type: string
        - in: query
          name: bodega_id
          description: Id de la bodega del movimiento
          schema: 
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MovimientoInventario"      
    post:
      tags:
        - Movimientos de Inventario
      description: |-
        Se utiliza esta URL para la creación de ingresos, egresos y traslados de inventario

        > POST https://api.contifico.com/sistema/api/v2/movimiento-inventario/

        | Parámetro         | Tipo     | Longitud | Descripción                                                                 | Obligatorio |
        |-------------------|:--------:|---------:|-----------------------------------------------------------------------------|:-----------:|
        | codigo            | varchar  |       16 | Código del movimiento de inventario.                                        | No          |
        | bodega_id         | varchar  |       16 | Identificador de la bodega en el sistema.                                   | Si          |
        | tipo              | varchar  |        3 | Tipo de movimiento de inventario (ING:ingreso, EGR:egreso, TRA:traslado, AJU:ajuste de costo) | Si |
        | fecha             | date     |        - | Fecha del movimiento de inventario (dd/mm/aaaa)                             | Si          |
        | generar_asiento   | boolean  |        - | Indica si el movimiento se marcó para generar un asiento.                   | No          |
        | pos               | varchar  |       16 | Identificador del punto de venta desde el que se registró el movimiento. (Campo obligatorio para movimientos de tipo TRA) | Opcional    |
        | detalles          | objeto   |        - | Objeto contenedor de los detalles del movimiento.                           | Si          |
        | producto_id       | varchar  |       16 | Identificador del producto en el sistema.                                   | Si          |
        | edicion           | boolean  |        - | Campo para módulo específico.                                               | No          |
        | precio            | decimal  |       13 | Precio del producto en el movimiento. (Obligatorio para movimientos de tipo ING) (7 int, 6 decimal) max. | Opcional    |
        | cantidad          | decimal  |       13 | Indica la cantidad del producto en el movimiento (7 int, 6 decimal) max.    | Si          |
        | maneja_venta      | boolean  |        - | Campo para módulo específico.                                               | No          |
        | descripcion       | text     |        - | Descripción del movimiento.                                                 | Si          |
        | bodega_destino_id | varchar  |       16 | Identificador de la bodega destino del movimiento en el sistema. (Campo obligatorio para movimientos de tipo TRA) | Opcional    |
        | codigo_interno    | varchar  |        - | Campo para módulo específico.                                               | No          |

      operationId: Creación
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MovimientoInventario'
            examples:
              ingreso:
                $ref: '#/components/examples/ingreso'
              egreso:
                $ref: '#/components/examples/egreso'
              traslado:
                $ref: '#/components/examples/traslado'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MovimientoInventario" 

  /api/v2/movimiento-inventario/{id_integracion}:
    get:
      tags:
        - Movimientos de Inventario
      description: |-
        > GET https://api.contifico.com/sistema/api/v2/movimiento-inventario/{id_integracion}

        Devuelve un movimiento de inventario con el id solicitado.

        | Parámetro         | Tipo     | Longitud | Descripción                                                                 |
        |-------------------|:--------:|---------:|-----------------------------------------------------------------------------|
        | codigo            | varchar  |       16 | Código del movimiento de inventario.                                        |
        | bodega_id         | varchar  |       16 | Identificador de la bodega en el sistema.                                   |
        | tipo              | varchar  |        3 | Tipo de movimiento de inventario (ING:ingreso, EGR:egreso, TRA:traslado, AJU:ajuste de costo) |
        | fecha             | date     |        - | Fecha del movimiento de inventario (dd/mm/aaaa)                             |
        | generar_asiento   | boolean  |        - | Indica si el movimiento se marcó para generar un asiento.                   |
        | pos               | varchar  |       16 | Identificador del punto de venta desde el que se registró el movimiento.    |
        | detalles          | objeto   |        - | Objeto contenedor de los detalles del movimiento.                           |
        | producto_id       | varchar  |       16 | Identificador del producto en el sistema.                                   |
        | edicion           | boolean  |        - | Campo para módulo específico.                                               |
        | precio            | decimal  |       13 | Precio del producto en el movimiento (7 int, 6 decimal) max.                |
        | cantidad          | decimal  |       13 | Indica la cantidad del producto en el movimiento (7 int, 6 decimal) max.    |
        | maneja_venta      | boolean  |        - | Campo para módulo específico.                                               |
        | descripcion       | text     |        - | Descripción del movimiento.                                                 |
        | total             | decimal  |       10 | Valor total del movimiento (8 int, 2 decimal) max.                          |
        | estado            | varchar  |        1 | Estado del movimiento de inventario (G:generado, P:pendiente).              |
        | id                | varchar  |       16 | Identificador del movimiento en el sistema.                                 |
        | bodega_destino_id | varchar  |       16 | Identificador de la bodega destino del movimiento en el sistema.            |
        | codigo_interno    | varchar  |        - | Campo para módulo específico.                                               |
        | cuenta_id         | varchar  |        16| Id de la cuenta contable.                                                   |
        | proyecto          | varchar  |        16| Proyecto.                                                                   |

      operationId: Obtener un movimiento
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MovimientoInventario"

  /api/v2/documento/:
    get:
      tags:
        - Documento
      description: |-
        Para obtener todos los documentos de la cuenta hacemos uso del endpoint:

        > GET https://api.contifico.com/sistema/api/v2/documento/

        | Parámetro              | Tipo              | Longitud | Descripción                                                                 |
        |------------------------|:-----------------:|---------:|-----------------------------------------------------------------------------|
        | iva                    | SmallIntegerField |        - | Valor de porcentaje de IVA que tiene el producto                            |
        | tarjeta_consumo_id     | varchar           |       16 | Identificador de la tarjeta de consumo en el sistema.                       |
        | vendedor               | objeto            |        - | Objeto de la persona vendedor.                                              |
        | pos                    | varchar           |       36 | API Token del POS.                                                          |
        | vendedor_id            | varchar           |       16 | Identificador de la persona vendedor en el sistema.                         |
        | logistica              | boolean           |        1 | Indicador si el documento está marcado para logística (Módulo Adicional).   |
        | subtotal_0             | decimal           |       10 | Representa el valor subtotal.                                               |
        | ice                    | decimal           |       10 | Representa el valor del ICE del documento.                                  |
        | descripcion            | text              |        - | Explicación del documento.                                                  |
        | total                  | decimal           |       13 | Valor total del movimiento.                                                 |
        | id                     | varchar           |       16 | Identificador del documento en el sistema.                                  |
        | subtotal_12            | decimal           |       10 | Representa el valor subtotal del IVA del documento.                         |
        | servicio               | decimal           |       13 | Representa el valor del porcentaje de servicio del documento.               |
        | detalles               | objeto            |        - | Objeto contenedor de los ítems a facturar del documento.                    |
        | producto_id            | varchar           |       16 | Identificador del producto en el sistema.                                   |
        | cantidad               | decimal           |       20 | Indica la cantidad del producto en el movimiento (14 int, 6 decimal) max.   |
        | precio                 | decimal           |       13 | Valor del producto en específico.                                           |
        | porcentaje_iva         | SmallIntegerField |        - | Valor de porcentaje de IVA que tiene el producto.                           |
        | porcentaje_descuento   | decimal           |       10 | Representa el valor subtotal del IVA del documento.                         |
        | base_cero              | decimal           |       10 | Representa el valor del producto si grava 0% IVA.                           |
        | base_gravable          | decimal           |       10 | Representa el valor del producto si grava IVA.                              |
        | base_no_gravable       | decimal           |       10 | Representa el valor del producto si no grava IVA.                           |
        | porcentaje_ice         | SmallIntegerField |        - | Representa el valor porcentual de ICE que grava el producto.                |
        | valor_ice              | decimal           |       10 | Representa el valor entero de ICE que grava el producto.                    |
        | irbpnr                 | decimal           |       10 | Representa el valor de IRBPNR del producto.                                 |
        | referencia             | varchar           |      300 | Dato adicional de la factura.                                               |
        | saldo_anticipo         | decimal           |       10 | Valor del producto en específico.                                           |
        | tipo_domicilio         | varchar           |        2 | Campo para asociación de delivery del documento (UB:uber, GL:glovo). (Módulo Adicional) |
        | autorizacion           | varchar           |       49 | Número de autorización del documento.                                       |
        | hora_evento            | time              |        - | Representa el valor del producto si grava 0% IVA.                           |
        | fecha_creacion         | date              |        - | Fecha de creación del documento. (dd/mm/aaaa)                               |
        | cobros                 | objeto            |        - | Objeto contenedor de los cobros del documento.                              |
        | forma_cobro            | varchar           |       10 | Tipo de documento a aplicar el cobro o pago de la transacción.              |
        | numero_comprobante     | varchar           |       15 | Secuencia única que identifica la transacción.                              |
        | caja_id                | varchar           |       16 | Identificador de la caja desde la cual se realiza la transacción.           |
        | monto                  | decimal           |       10 | Valor total del documento detalle relacionado.                              |
        | numero_tarjeta         | varchar           |       10 | Número de tarjeta bancaria supereasy (Módulo adicional).                    |
        | fecha                  | date              |        - | Fecha que se realiza la transacción. (dd/mm/aaaa)                           |
        | nombre_tarjeta         | varchar           |      300 | Nombre de tarjeta bancaria supereasy (Módulo adicional).                    |
        | tipo_banco             | char              |      300 | Nombre del banco supereasy (Módulo adicional).                              |
        | cuenta_bancaria_id     | varchar           |       16 | Identificador de la cuenta bancaria en el sistema.                          |
        | bin_tarjeta            | varchar           |       10 | Número de tarjeta bancaria supereasy (Módulo adicional).                    |
        | monto_propina          | decimal           |       10 | Representa el valor de la propina por un servicio.                          |
        | numero_cheque          | varchar           |       15 | Número de cheque en la transacción.                                         |
        | fecha_cheque           | date              |        - | Fecha del cheque. (dd/mm/aaaa)                                              |
        | tipo_ping              | varchar           |        1 | Tipo de transacción con TC (D:datafast, M:medianet, E:dataexpress, P:placetopay, A:alignet). |
        | id                     | varchar           |       16 | Identificador del cobro en el sistema.                                      |
        | tipo_descuento         | varchar           |        1 | Identificador del tipo de descuento asignado al documento (P:porcentual, U:unitario). |
        | orden_domicilio_id     | varchar           |       16 | Id de la orden de delivery (Módulo adicional).                              |
        | fecha_vencimiento      | date              |        - | Fecha límite de vigencia del documento. (dd/mm/aaaa)                        |
        | documento_relacionado_id| varchar          |       16 | Identificador del documento relacionado al documento actual en el sistema.  |
        | fecha_emision          | date              |        - | Fecha de emisión del documento. (dd/mm/aaaa)                                |
        | vendedor_identificacion| varchar           |       10 | Cédula del vendedor asignado al documento.                                  |
        | documento              | varchar           |       17 | Número del documento.                                                       |
        | adicional2             | varchar           |      300 | Dato adicional de la factura.                                               |
        | firmado                | boolean           |        1 | Indicador si el documento está firmado.                                     |
        | adicional1             | varchar           |      300 | Dato adicional de la factura.                                               |
        | hora_emision           | time              |        - | Hora de emisión del documento.                                              |
        | cliente                | objeto            |        - | Objeto contenedor del cliente del documento.                                |
        | ruc                    | varchar           |       13 | RUC de la persona.                                                          |
        | cedula                 | varchar           |       10 | Cédula de la persona.                                                       |
        | razon_social           | varchar           |      300 | Razón social de la persona.                                                 |
        | telefonos              | varchar           |      300 | Teléfono de la persona.                                                     |
        | direccion              | varchar           |      300 | Dirección de la persona.                                                    |
        | tipo                   | varchar           |        1 | Tipo de persona (N:Natural, J:Juridica, I:SinId, P:Placa).                  |
        | email                  | varchar           |       50 | Correo de la persona.                                                       |
        | es_extranjero          | bool              |        - | Verificador de personas extranjeras.                                        |
        | saldo                  | decimal           |       10 | Identificador del tipo de descuento asignado al documento (P:porcentual, U:unitario). |
        | entregado              | boolean           |        1 | Indica si el documento ha sido entregado.                                   |
        | tipo_registro          | varchar           |        3 | Indica el tipo de registro del documento (CLI:cliente, PRO:proveedor).      |
        | estado                 | varchar           |        1 | Indicador del estado del documento (P:pendiente, C:cobrado, G:pagado, A:anulado, E:generado, F:facturado). |
        | persona_id             | varchar           |       16 | Identificador de la persona asociada al documento.                          |
        | tipo_documento         | varchar           |        3 | Tipo de registro del documento (FAC: Factura, LQC: Liquidación de Compra, PRE: Prefactura, NCT: Nota de Crédito, COT: Cotización, OCV: Orden CompraVenta, NVE: Nota de Venta, DNA: Documento No Autorizado).|
        | fecha_evento           | date              |        - | Fecha evento del documento (Módulo Adicional). (dd/mm/aaaa)                 |
        | electronico            | boolean           |        - | Indica si el documento es electrónico.                                      |
        | direccion_evento       | varchar           |      300 | Dirección del evento del documento (Módulo Adicional).                      |
        | placa                  | varchar           |       13 | Placa de la persona si es de tipo placa.                                    |
        | pax                    | int               |        - | Pax del documento (Modulo Adicional).                                       |
        | anulado                | boolean           |        1 | Indica si el documento esta anulado.                                        |
        | caja_id                | varchar           |       16 | Identificador de la caja desde la cual se realiza la transacción.           |                             |

      operationId: Consulta
      parameters:
        - in: query
          name: tipo_registro
          description: CLI:Cliente, PRO:Proveedor
          schema: 
            type: string
        - in: query
          name: tipo
          description: FAC:Factura, LQC:Liquidación de compra, PRE:Prefactura, NCT:Nota de Crédito, COT:Cotización, OCV:Orden CompraVenta, NVE:Nota de Venta, DNA:Documento No Autorizado
          schema: 
            type: string
        - in: query
          name: fecha_modificacion
          description: Fecha de modificación del documento.
          schema: 
            type: date
        - in: query
          name: fecha_emision
          description: Fecha de emisión del documento.
          schema: 
            type: date
        - in: query
          name: fecha_vencimiento
          description: Fecha de vencimiento del documento.
          schema: 
            type: date
        - in: query
          name: fecha_creacion
          description: Fecha de creación del documento.
          schema: 
            type: date
        - in: query
          name: persona_identificacion
          description: Identificación de la persona del documento.
          schema: 
            type: string
        - in: query
          name: result_size
          description: Cantidad de resultados por consulta.
          schema: 
            type: integer
        - in: query
          name: result_page
          description: Número de página que se quiere obtener.
          schema: 
            type: integer
        - in: query
          name: fecha_inicial
[...]
